<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="margin:0px auto;max-width:1300px;">
        <h1>Парсинг сайта etsy.com с заданными параметрами.</h1>
        <h2>Выберите на сайте etsy.com нужные вам параметры (категория, регион, ...), затем скопируйте ссылку из адресной строки браузера и вставьте в поле ниже.</h2> <br>
        <h4>Пример ссылки: https://www.etsy.com/c/bags-and-purses/handbags/clutches-and-evening-bags?locationQuery=472757</h4>
        <form action="{% url 'parse:add_link' %}" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Начать парсинг</button>
        </form><br>
        <h3>Парсинг займет некоторое время, от нескольких секунд до часа и более при большом объеме данных. Результаты будут доступны <a href="{% url 'parse:results' %}">на этой странице</a><br></h3>
    </div>
</body>
</html>