<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="margin:0px auto;max-width:1200px;">
        <h2>
            Парсинг начат! Его продолжительность будет зависеть от количества магазинов на сайте согласно выбранным параметрам.
            Результаты будут доступны <a href="{% url 'parse:results' %}">на этой странице</a>
            с указанием времени начала парсинга и введенной вами ссылки. Последние результаты всегда будут на первой странице наверху списка.
        </h2>
    </div>
</body>
</html>